button {
    float: right;
    margin-top: 10px;
    padding: 5px 10px;
    width: 100%;
}

.error {
    color: darkred;
    font-size: .8em;
    font-family: monospace;
}


/* tr, td {
    border: solid 2px;
    padding: 5px;
}
thead {
    font-weight: bold;
    padding: 5px;
    background-color: lightblue;
}

table {
    border-collapse: collapse;
}

#title {
    text-align: center;
} */