<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time</title>
</head>
<body>
    <br>
    <h2>Formatting Date using Thymeleaf</h2>
    <hr>
    <p>
        <h3><code th:utext="${#dates.format(date, 'dd MMM yyyy HH:mm:ss')}"></code></h3>
    </p>
    <p>
        <h3><code th:utext="${#dates.format(date, 'dd MMM yyyy HH:mm:ss a')}"></code></h3>
    </p>
    <p>
        <h3><code th:utext="${#dates.format(date, 'dd MMM yyyy HH:mm:ss a (D')}"></code><code> days)</code></h3>
    </p>
</body>
</html>